<div class="container">
  <h1 class="text-center">Data Log Database Clone</h1>
  <table id="table" class="table table-hover table-responsive table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tanggal Pull</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach(function(l) { %>
          <tr>
            <td><%= l.id %></td>
            <td><%= l.tanggal %></td>
          </tr>
        <% }); %>
    </tbody>
  </table>
</div>
